.idea/

debug/
target/

**/*.rs.bk
*.pdb

temp.mp3
temp.png

python/api/__pycache__/
python/better_tensorflow/__pycache__/
*.weight

dataset.txt

app_database.db

python/api/data/music/
python/api/data/music_spec/